@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-size: 2vw;
}
a{
    text-decoration: none;
    color: wheat;
    transition: all 0.3s;
}
a:hover{
    color: red;
}
body {
    background-image: url("23.jpg");
    /* background-color: #cccccc; */
   }
   
#class1{
    width: 100%;
    color: white;
    background-color: black;
    
}
#class1 ul li{
    display: inline;
    padding: 2%;
}
#class1 ul #lli{
    padding: 0px;
    margin-left: 40%;
}
#main{
    font-family: 'Ubuntu', sans-serif;
}
#class4 {
margin-left: 50px;
display:inline
}



#class5 {
    margin-left: 100px;
    display:external}
    #class6 {
        margin-left: 50px;
        margin-bottom: 16px;
        }
        #apj.img{
            height: 300px;
            width: 300px;

            margin-left: 50px;
            border-radius: 25px;
            border: solid 1px black;
            margin-top: 20px;
        }
    
        